*{
    margin: 0;
    border: 0;
    padding: 0;
    background: linear-gradient(#40cbf9,#2b45ba);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 32px;
}
body{
    
}
.flex-container{
    display: flex;
    background-color:#c0efff;
    justify-content: center;
    align-items: center;
}
.flex-container > div {
    background-color: #78b3c7;
    margin: 5px;
    padding: 10px;
    font-size: 18px;
}